{% extends 'base.html' %}

{% block content %}
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1><br>About Us</h1>
                <h5 class="w3-padding-32">It can be difficult to decide how to represent numeric data on a graph, and
                    our
                    app aims to simplify this process. The purpose of our project is to simplify the process of data
                    visualization by utilizing AI to analyze a given set of data. </h5>

                <p class="w3-text-grey">Go to the home page to test it out!</p>
            </div>
        </div>
    </div>
{% endblock %}
