{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header class="w3-container w3-center" style="background-color: #04383F; padding:128px 16px">
  <h1 class="w3-margin w3-jumbo" style="color: white">Graph Guide</h1>
  <p class="w3-xlarge" style="color: white">Upload a .csv file below and enter a brief description of your project below.</p>
  <a href="#first-grid" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</a>
</header>

<!-- First Grid -->
<div id="first-grid" class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="justify-content: center">
      <form class="w3-container w3-card-3 w3-light-grey" style="height: 200px" action="" method=post enctype="multipart/form-data">
        <h3>
          <label>Enter project description</label>
            <label>
                <input class="w3-input w3-border w3-round" type=text name=text>
            </label>
        </h3>
        <br>
        <label for="myfile">Select a file:</label>
        <input type=file id="myfile" name=file>
        <input class="w3-blue w3-hover-white" type=submit value=Upload>
      </form>
    </div>
  </div>
</div>



{% endblock %}
